
/* Ne pas mettre de couleur sinon dans le dark mode ça ne deviendra pas blanc */
.title-darkmode {
  font-style: italic;
}

.nav-bar-pico {
  display: flex;
  justify-content: space-around;
}


.inline-btn {
  margin-top: -10px;
  
  width: 350px;
  display: flex;
  justify-content: space-around;
}